<div class="container">
  <h1 class="text-center mb-5 mt-3" >All Restaurants</h1>
  <%= link_to '+ New restaurant', new_restaurant_path, class: "btn btn-primary float-right" %>
  <% @restaurants.each do |restaurant| %>
    <h3>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
    </h3>
    <p><%= restaurant.category %></p>
  <% end %>
</div>